body {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: center;
}

canvas {
  background: #308;
  cursor: none;
  height: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering:   -o-crisp-edges; /* Opera */
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  width: 100%;
}

.textbox {
  bottom: 50%;
  color: #000;
  font-family: 'VT323', monospace;
  text-shadow: -1px 0 #fff,0 1px #fff,1px 0 #fff,0 -1px #fff;
  font-size: 40px;
  position: absolute;
  text-align: center;
  width: 80%;
  z-index: 1;
}

.menu {
  background: #000;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px solid #fff;
  color: #fff;
  display: none;
  font-family: 'VT323', monospace;
  font-size: 30px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  width: 320px;
}

.menu > .name {
  border-bottom: 3px solid #fff;
  padding: 6px 0 6px 0;
  text-align: center;
}

.menu > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.menu > ul > li {
  padding: 4px 8px 4px 8px;
}

.menu > ul > li:hover {
  background: #a09;
  cursor: pointer;
}

.menu > ul > .non-select:hover {
  background: none;
  cursor: auto;
}

.left-align {
  text-align: left;
}
